.body {
  height: 100vh;
  overflow-y: auto;
  background-color: var(--blue);
}

.wrapper {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.loginContainer {
  padding: 20px;
  width: 80%;
  max-width: 500px;
  border: 1px solid #dedede;
  border-radius: 5px;
  background-color: #fff;
  text-align: center;
  margin-top: 30px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
}
