.wrapper {
  /* background-color: rgba(0, 0, 0, 0.1);
  height: 100vh; */
}

.row {
  display: grid;
  grid-template-columns: 15% 4fr 1fr;
  gap: 10px;
}

.navContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 100%;
}

.mainSectionContainer {
  border-left: 2px solid var(--lightGrey);
  border-right: 2px solid var(--lightGrey);
  display: flex;
  flex-direction: column;
}

.titleContainer {
  height: 53px;
  padding: 0 var(--spacing);
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--lightGrey);
  flex-shrink: 0;
}

.titleContainer h1 {
  flex: 1;
}

.actionIcon {
  cursor: pointer;
}

.actionIcon:hover svg {
  scale: 1.1;
}

@media (max-width: 640px) {
  .row {
    grid-template-columns: 75px 5fr;
  }
  .thirdColumn {
    display: none;
  }
}
