.userImageContainer {
  width: 50px;
  height: 50px;
}

.userImageContainer img {
  width: 100%;
  border-radius: 50%;
  background-color: #fff;
}

.post {
  display: flex;
  flex-direction: column;
  padding: var(--spacing);
  cursor: pointer;
  border-bottom: 1px solid var(--lightGrey);
  flex-shrink: 0;
}

.mainContentContainer {
  flex: 1;
  display: flex;
}

.postContentContainer {
  padding-left: var(--spacing);
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 5px;
}

.header {
  display: flex;
  align-items: center;
  gap: 8px;
}

.displayName {
  font-weight: 800;
}

.displayName:hover {
  text-decoration: underline;
}

.username,
.date {
  color: var(--greyText);
}

.postFooter {
  display: flex;
  align-items: center;
}

.postFooter .postButtonContainer {
  flex: 1;
  display: flex;
}

.postFooter .postButtonContainer button {
  padding: 5px;
}

.postButtonContainer button:hover {
  background-color: var(--buttonHoverBg);
  color: var(--blue);
  border-radius: 50%;
}

.activeLike button:hover {
  background-color: var(--redBackground);
  color: var(--red);
  border-radius: 50%;
}

.activeRetweeted button:hover {
  background-color: var(--greenBackground);
  color: var(--green);
  border-radius: 50%;
}

.postActionContainer {
  padding-left: 35px;
  font-size: 13px;
  color: var(--greyText);
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  gap: 3px;
}

.replyFlag {
  margin-bottom: 5px;
  color: var(--greyText);
}

.replyFlag a {
  color: var(--blue);
}
