.followButton {
  border: 1px solid var(--blue);
  color: var(--blue);
  font-weight: bold;
  padding: 7px 15px;
  border-radius: 60px;
  margin-left: var(--spacing);
  display: flex;
  align-items: center;
  gap: 5px;
}

.followButton:hover {
  background-color: var(--blueBackground);
  color: var(--blue);
}

.following {
  background-color: var(--blue);
  color: #fff;
}
