.modalContainer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  backdrop-filter: blur(2px);
}

.modalContent {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  width: 500px;
  max-width: 80%;
}

.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding-bottom: 20px;
  border-bottom: 1px solid var(--lightGrey);
}

.modalHeader h2 {
  margin: 0;
  font-size: 20px;
  font-weight: 500;
}

.modalCloseButton {
  cursor: pointer;
  font-size: 20px;
}

.modalCloseButton svg:hover {
  color: var(--red);
  scale: 1.1;
}

.modalFooter {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: var(--spacing);
  padding-top: var(--spacing);
}

.modalFooter button {
  padding: 7px 20px;
  border-radius: 5px;
  color: #fff;
}

.replyButton {
  background-color: var(--blue);
}
.cancelButton {
  background-color: var(--red);
}
