:root {
  --blue: #1fa2f1;
  --blueLight: #9bd1f9;
  --buttonHoverBg: #d4edff;
  --lightGrey: rgb(230, 236, 240);
  --spacing: 15px;
  --greyText: rgb(101, 119, 134);
  --greyButtonText: #00000057;
  --red: rgb(226, 34, 94);
  --redBackground: rgba(226, 34, 94, 0.1);
  --green: rgb(23, 191, 99);
  --greenBackground: rgba(23, 191, 99, 0.1);
  --blueBackground: rgba(212, 237, 255, 0.6);
  --spacing: 15px;
}

@font-face {
  font-family: 'Regular';
  src: local('Regular'),
    url(./assets/fonts/Roboto-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Bold';
  src: local('Bold'), url(./assets/fonts/Roboto-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'RBlack';
  src: local('RBlack'), url(./assets/fonts/Roboto-Black.ttf) format('truetype');
}

@font-face {
  font-family: 'Medium';
  src: local('Medium'), url(./assets/fonts/Roboto-Medium.ttf) format('truetype');
}

@font-face {
  font-family: 'Light';
  src: local('Light'), url(./assets/fonts/Roboto-Light.ttf) format('truetype');
}

*,
body {
  margin: 0;
  font-family: Regular, serif;
}

h1 {
  font-size: 19px;
  font-family: RBlack;
  margin: 0;
}

.spin-button-none::-webkit-outer-spin-button,
.spin-button-none::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #444e54;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: rgb(143, 190, 245);
}

.scrollbar::-webkit-scrollbar {
  width: 8px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: #aeaeafa1;
  border-radius: 5px;
}

a {
  color: inherit;
}
