.navLink {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 55px;
  height: 55px;
  cursor: pointer;
  color: #212529;
  position: relative;
}

.navLink:hover {
  background-color: var(--blueLight);
  border-radius: 100%;
  color: #fff;
}

.navLink:hover svg {
  stroke: #fff;
}

.badge {
  background-color: var(--red);
  width: 23px;
  height: 23px;
  border-radius: 50%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 12px;
  top: 15px;
}
