.navLink {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 55px;
  height: 55px;
  cursor: pointer;
  color: #212529;
}

.navLink:hover {
  background-color: var(--blueLight);
  border-radius: 100%;
  color: #fff;
}

.navLink:hover svg {
  stroke: #fff;
}
